<footer
      class="mvc-center mvc-black mvc-padding-64 mvc-opacity mvc-hover-opacity-off"
    >
      <a href="#home" class="mvc-button mvc-light-grey"
        ><i class="fa fa-arrow-up mvc-margin-right"></i>To the top</a>
      <br>
      <br>
      <h3>Sigueme en las Redes Sociales</h3>

      <div class="mvc-xlarge mvc-section">
        <a href="https://github.com/MatiasIbanez1" target="_blank"><i class="fa fa-github mvc-hover-opacity"></i></a>
        <i class="fa fa-instagram mvc-hover-opacity"></i>
        <i class="fa fa-youtube mvc-hover-opacity"></i>
        <i class="fa fa-pinterest-p mvc-hover-opacity"></i>
        <a href="https://twitter.com/Matiasibanez10" target="_blank"><i class="fa fa-twitter mvc-hover-opacity"></i></a>
        <a href="https://www.linkedin.com/in/matias-ibanez1/" target="_blank"><i class="fa fa-linkedin mvc-hover-opacity"></i></a>
      </div>
    </footer>
