<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/estilos.css">
    <title>Aplicación de notas</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="https://i.postimg.cc/qRG6WhDy/Notes-icon-10.png" alt="notas">
            <h2>Bloc de notas</h2>
            <h4>Este será el encabezado de la página</h4>
        </div>
        <nav>
            <a href="" class="nav-link">Inicio</a>
            <a href="" class="nav-link">Ayuda</a>
            <a href="" class="nav-link">Acerca de esta aplicación</a>
        </nav>
    </header>
</body>

<section id="contenedor" class="container">
    <div class="centro">
        <h3>Acá iran los botones con una barra de color</h3>
        <div class="abrir nuevo">
        <button class="btn-1" onclick="cambiarDisplayNuevo()">Crear una nota</button>
        <button class="btn-1" onclick="cambiarDisplayNuevo()">Todas las notas</button>
        <button class="btn-1" onclick="cambiarDisplayNuevo()">Importar una nota</button>
        <button class="btn-1" onclick="cambiarDisplayNuevo()">Papelera</button>
    </div>
</section>
<br>
<br>
<section id="formulario" class="container">
    <a href="/" class="btn-1 home">
        <i class="fas fa-home"></i>
    </a>
<div class="centro">
    <form method="GET" onsubmit="return guardar()" >
        <input autofocus required title="Este campo es obligatorio" type="text" placeholder="Titulo" id="titulo"/>
      <textarea placeholder="Escribe un mensaje" id="textarea" ></textarea>
      <button class="guardar" type="submit" value="Guardar">Guardar</button>
    </form>
  </div>
</section>
</div>
<footer>
    <div class="footer-creds">
        <div class="copy-creds">
            <p>©2023.Todos los derechos reservados</p>
            <h3>este es el pie de la pagina<h3>
        </div>
    </div>
</footer>
</html>
