<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="shortcut icon" href="/image/Notes-icon-10.png">
    <title>Aplicación de notas</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/image/anotacion.jpg" alt="notas">
            <h2>Bloc de notas</h2>
        </div>

        <form action="../../form-result.php" method="post" target="_blank">
            <p>
              Busca todas las notas: <input type="search" name="busqueda" list="">
              <input type="submit" value="Buscar">
            </p> 
          </form>

        <nav>
            <a href="/login" class="button">Iniciar sesion</a>
        </nav>
    </header>
</body>
<br>
<br>

<section id="contenedor" class="container">
    <div class="centro">
        <div class="abrir nuevo">
        <a href="/mis-notas" class="button">Mis notas</a>
        <a href="" class="button">Importar una nota</a>
        <a href="" class="button">Papelera</a>
        <a href="https://calendar.google.com/calendar/" class="button">Calendario</a>
    </div>
</section>
<br>
<br>

<div class="centro">
    <form method="GET" onsubmit="return guardar()" >
        <input autofocus required title="Este campo es obligatorio" type="text" placeholder="Titulo" id="titulo"/>
        </form>
</div>

<form action="../../form-result.php" target="_blank">
    <p>Agregar una descripción:</p>
    <p><textarea name="descripcion" cols="40" rows="5"></textarea></p>
    <button class="guardar" type="submit" value="Guardar">Guardar</button>
  </form>
  <br>
</html>
