*{
    margin: 0;
    padding: 0%;
    list-style: none;
    text-decoration:none;
    align-items: center;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: rgb(126, 139, 253);


}
header{
    display: flex;
    background-color: rgb(57, 99, 179);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 60px;
    margin-right: 10px;
}

nav a{
    color: white;
    font-weight: 700;
}

button{
    font-size: larger;
    font-family: sans-serif;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    background-color: rgba(57, 88, 172, 0.815);
    color: white;

}

footer{
    background: rgb(31, 55, 158);
    color: white;
    text-align: center;
    padding: 12px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(74, 115, 175);
    color: white;
}

form{
    font-size: large;
    display: flex;
    flex-direction: column;
}

section{
  background-color: rgb(39, 95, 148);
}
a.button{
    font-size: medium;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px black;
    background-color: rgba(57, 88, 172, 0.815);
    color: white;

}
